// you can change colors here
$theme-color: #096dd9;

$font-family: '"Noto Sans SC", sans-serif';
$font-family-heading: '"Noto Sans SC", sans-serif';
$font-family-mono: '"Fragment Mono", monospace';
$navbar-height: 3rem;